_site/

.Rhistory
README.html
.Rproj.user
_posts/2021-04-28-blog-post-2.html
.DS_Store
images/COP26.jpg
images/Johnson,Fiona.png
images/Liong.jpeg
images/Mamunur Rashid.jpg
images/Roman-cut-as-portrait.jpg
images/Sharma,Ashish.png
images/sri-150x150.jpg
