{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://twitter.com/intent/tweet?text={{ base_path }}{{ page.url }}" class="btn btn--twitter" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Twitter"><i class="fab fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>

  <a href="https://www.facebook.com/sharer.php?u={{ base_path }}{{ page.url }}" class="btn btn--facebook" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Facebook"><i class="fab fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>

</section>

<!--share-->
<div class="panel-footer operate">
    <div class="pull-left">
        <div class="ds-share flat" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-images=""
             data-content="{{page.title}}" data-url="{{page.url | prepend: site.url | prepend: site.baseurl}}">
            <div class="ds-share-inline">
              <ul  class="ds-share-icons-16">

                <h4 data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></h4>
                <a class="ds-weibo" href="javascript:void(0);" data-service="weibo"><span>微博</span></a>
                <a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a>
                <a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a>
                <a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a>
              </ul>
              <div class="ds-share-icons-more">
              </div>
            </div>
         </div>
    </div>
    <div class="clearfix"></div>
</div>